#todoHome{
  margin: 0% 10%;
  /* border: 2px black solid; */
}

#todoArea{
  margin: 0% 3%;
  /* border: 2px black solid; */
}

#todoAreaDiv{
  /* margin: 0% 3%; */
  /* border: 2px black solid; */
  display: inline-block;
  width: 100%;

}
#formDiv{
  padding-top: 5%;
  min-width: 20%;
  max-width: 40%;
  /* border: 2px black solid; */
  display: inline-block;
}
#listDiv{
  /* border: 2px black solid; */
  min-width: 60%;
  max-width: 60%;
  float: right;
}
#pagination{
  float: right;
  padding-top: 5%;
  padding-right: 20%;

}

.listItem{
  margin: 00% 10%;
  
  & .buttons{
  display: flex;
  justify-content: space-between;
  }
}